:root {
  --maristred: #b31b1b;
  --maristgray: #c8c8c8;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

header{
  background-color: var(--maristred);
  color: white;
  font-family: "PT Sans";
  text-transform: uppercase;
  margin: 0px;
  padding: 1%;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 2%;
  text-decoration: none;
}

.headerlink{
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

#pagetitle{
  color: white;
  text-decoration: none;
}

.headerlink:hover{
  color: var(--maristgray);
  text-shadow: 0px 0px 5px dimgray;
}

#currentPageLink{
  color: var(--maristgray);
  text-decoration: underline;
}

.textcontent{
  width: 75vw;
  margin: auto;
  margin-top: 10vh;
  font-family: "Georgia";
  font-size: 20px;
  text-align: center;
}

.lotcard{
  width: 50vw;
  margin: auto;
  padding: 10px;
  text-align: left;
  display: flex; 
  box-shadow: 0px 0px 5px var(--maristgray);
}

.lotcard:hover{
  box-shadow: 0px 0px 8px dimgray;
}

.spacecard{
  width: 30vw;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 5px var(--maristgray);
  margin-bottom: 10px;
}

.cardtext{
  width: 25vw;
}

.cardimage{
  padding: 10px;
}

.lotMap{
  width: 25vw;
  height: auto;
}

.cardlink{
  color: black;
}

.cardlink:hover{
  color: var(--maristred);
}

.breadcrumb{
  color: black;
  margin-left: 10px;
}

.bcLink{
  color: black;
  text-decoration: underline;
}
.bcLink:hover{
  color: var(--maristred);
}

a{
  text-decoration: none;
}

h5{
  font-family: "Georgia";
  font-size: 20px; 
}

a{
  color: var(--maristred);
  text-decoration: underline;
}